body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

  #custom-button {
    padding: 10px;
    color: white;
    background-color: #1abc9c;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
  }

  #custom-button:hover {
    background-color: darkgrey; 
  }

  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #1abc9c; 
  }

  .active {
    margin: 0 auto;
  }

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #1abc9c; /* teal */
    color: #ffffff;
  }

.bg-2 { 
    background-color: #1abc9c; /* teal */
    color: #ffffff;
  }

.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }

.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

.navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

.carousel-inner {
  margin: auto;
}
