/* Start application styles */
#map {
  height: 425px;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* header styles */
.logo {
  max-width: 100px;
  max-height: 100px;
  display: inline !important;
}

/* upload form styles */

.upload-form {
  margin: 20px 0px;
  padding: 10px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.img-upload-btn {
  border: 1px solid #ccc;
  background-color: #cccccc38;
  height: 100px;
}

.img-upload-btn:hover {
  background-color: #cccccc5c;
}

.btn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#img-upload {
  width: 100px;
  height: 100px;
}

.card #img-upload {
  width: 100%;
  height: 100%;
}

.message {
  color: #28a745;
}

.upload-btn {
  margin: 10px 0px;
  background-color: #1d8dd2 !important;
  color: #fff !important;
}

/* card galery styles */
.card {
  margin: 10px 0px;
}

.card-img-top {
  max-height: 200px;
  object-fit: contain;
}

.image-details {
  margin-top: 10px;
}

/* End Mo styles */
